header {
  text-align: center;
  background-color: #fdfdfd;
  border-bottom: 1px solid #e5e2e0;
}

#logo {
  position: relative;
  top: -2px;
}

#container {
  width: 100%;
  margin: 0px auto;
  min-height: 750px;
}

input[type='text'] {
  height: 2.2em;
  font-size: 2em;
  width: 400px;
  padding: 5px;
}

.information, .avatar {
  vertical-align: top;
  display: inline-block;
  width: 40%;
}

.search {
  text-align: center;
  margin: 50px auto;
}

h1  {
  display: block;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  color: rgb(150, 251, 199);
  text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
  border-bottom: 1px solid rgb(150, 251, 199);
}

h2  {
  display: inline-block;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  color: rgb(150, 251, 199);
  text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
}

h4  {
  display: inline-block;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  color: rgb(150, 251, 199);
  text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
}

#genres button {
  margin: 0px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  color: rgb(150, 251, 199);
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  font-size: 1vw;
  display: inline;
  width: 8vw;
  height: 3vw;
  border-width: 1px;
  border-radius: 20px;
  margin: 0px auto;
  background-color: black;
  vertical-align: top;
}

#genres button.active {
  margin: 0px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  color: rgb(150, 251, 199);
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  font-size: 1vw;
  display: inline;
  width: 8vw;
  height: 3vw;
  border-width: 1px;
  border-radius: 20px;
  margin: 0px auto;
  background-color: blue;
  vertical-align: top;
}

#programmes li {
  display: inline-block;
  color: rgb(150, 251, 199);
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  width: 40vw;
  height: 40vw;
  margin: 1vw;
  padding: 1vw;
  background-color: rgb(40, 40, 40);
  border-radius: 5px;
  box-shadow: 0px -1px 1px 2px rgb(150, 251, 199);
  vertical-align: top;
  text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
  font-size: 2vw;
}

#programmes img {
  width: 10vw;
  height: 10vw;
}

.service {
  background-color: #A26CD2;
  padding: 5px;
  float: right;
  border-radius: 5px;
  color: black;
}

.spinner {
  width: 100%;
  margin-top: 200px;
  text-align: center;
}

.no-programmes {
  margin-top: 100px;
  text-align: center;
}

footer  {
  display: inline-block;
  width: 100%;
  margin: 0px auto;
  border-top: 1px solid #e5e2e0;
  background-color: #fdfdfd;
}

#logo {
  text-align: center;
  width: 200px;
  margin-left: 40%;
  margin-right: 40%;
}

#credit  {
  display: block;
  font-family: 'Comic Sans MS', 'Comic Sans', sans-serif;
  color: rgb(150, 251, 199);
  text-shadow: 0 1px 0 black, 0 -1px 0 black, 1px 0 0 black, -1px 0 0 black;
  border-bottom: 1px solid rgb(150, 251, 199);
}